{% extends "main.html" %}
    {% block AD %}
    <div class="container card p-3 mt-2">  
        <h3>Student Home</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Roll Number</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="roll">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Percentage</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="per">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Image</label>
                <input type="file" class="form-control" id="exampleInputPassword1" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> 
    <hr>
    <!-- Search Box -->
    <!-- <div class="container card p-2">
        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search By Roll</label>
    <input type="text" class="form-control" placeholder="Enter Roll Number" name="search">
    <br>
  <button type="submit" class="btn btn-dark">Search</button>
</form>
    </div> -->
    <div class="container card p-2">
        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search By Name</label>
    <input type="text" class="form-control" placeholder="Enter Name" name="search">
    <br>
  <button type="submit" class="btn btn-dark">Search</button>
</form>
    </div>
    <!-- Data Table -->
    <div class="container card">
        <table class="table table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Per</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.roll}}</td>
      <td>{{i.stud_name}}</td>
      <td>{{i.per}}</td>
      <td><img src="/media/{{i.photo}}" alt={{i.photo}} width="400" height="200"></td>
      <td>
        <a href="/edit/{{i.id}}" class="btn btn-primary mb-3">&nbsp; Edit &nbsp;</a> <br>
        <a href="/delete/{{i.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
    {% endblock %}